@font-face {
    font-family: 'mi-fuente';
    src: url('recursos/fuentes/Por-Siempre-Gótica.ttf') format('truetype');
  }
body {
    background-image: url(recursos/imagenes/PapelEnvejecido.jpg);
    background-position: bottom;
    background-repeat: repeat;
    display: flex;
    flex-direction: column;
}

:root{
    --bla: rgb(255,255,255);
    --ama: rgb(255,255,0);
    --amac: rgba(255,255,0,0.65);
    --verc: rgb(130, 163, 74);
    --verct: rgba(130, 163, 74, 0.502);
    --vero: rgb(25, 55, 40);
    --verot: rgb(25, 55, 40,0.5);

}
.texto{
    font-family: 'mi-fuente';
    font-size: 1.2em ;
    margin: 2.5% ;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
h1{
    font-family: 'mi-fuente';
    font-size: 3em;
    
}
h2{
    font-family: 'mi-fuente';
    font-size: 2.5em;
    color: var(--vero);
}
header{
    width: 100%;
    background-color: var(--verc);
    display: flex;
    border-radius: 40px;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    color: var(--vero);
    margin-bottom: 5%;
    padding: 1%;
}
.rec{
    width: 50%;
    margin: 2%;
}
.tam{
    width: 50%;
    padding: 0%;
    display: flex;
    justify-content: center;
}
main{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.a1,.a2,.a3,.a4{
    border: solid var(--vero);
    border-radius: 40px;
    background-color: var(--verc);
    display: flex;
    flex-direction: column;
    margin-bottom: 5%;
    box-shadow: 0 8px 16px rgba(2, 20, 0, 0.1);
}
.img > img{
    border-top-left-radius: 50px 50px;
    border-top-right-radius: 50px 50px;
    padding-left: 2%;
    padding-right: 2%;
    margin-top: 2%;
    display: flex;
    align-self: center;
}

.boton{
    width: 35%;
    background-color: var(--vero);
    padding: 2%;
    margin-bottom: 5%;
    text-align: center;
}
a{
    color: var(--verc);
    text-decoration: none;
    font-family: 'mi-fuente';
}
.lista{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    vertical-align: middle;
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    }
    
li {
    background: url(recursos/imagenes/tu-imagen1.png) no-repeat left center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50px;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
    padding-left: 20%;
    font-size: 0.90em;
    }
.izq{
    width: 47.5%;
    margin-bottom: 2%;
}
.der{
    width: 47.5%;
    margin-bottom: 2%;
}
.cen{
    width: 100%;
}
.cen>ul>li{
    padding-left: 10%;
    margin: 2%;
}
footer{
    width: 100%;
    background-color: var(--verc);
    color: var(--vero);
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    text-align: center;
}



/*------------------------------- Disfraz --------------------------------------*/


.disfraz {
    margin: 2%;
    max-width: 600px;
    padding: 20px;
    border-radius: 10px;
    animation: fadeIn 0.5s;
    font-family: 'mi-fuente';
    font-size: 1.2em ;
    margin: 2.5% ;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

form {
    margin-top: 20px;
}

label {
    font-family: 'mi-fuente';
    font-size: 40px;
    color: var(--vero);
    margin-bottom: 20px;
    display: block;
}

input, button, #resultado p, #codigoErroneo, #codigoErrores {
    font-family: 'mi-fuente';
    font-size: 16px;
    color: var(--verc);
}

input {
    padding: 10px;
    border: 1px solid var(--vero);
    background-color: var(--verot);
    border-radius: 5px;
    width: calc(100% - 22px);
    margin-bottom: 20px;
}

button {
    cursor: pointer;
    background-color: var(--vero);
    color: var(--verc);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: var(--verc);
    color: var(--vero);
    border: solid var(--vero);
}

#resultado, #codigoErroneo, #codigoErrores {
    font-family: 'mi-fuente';
    margin-top: 20px;
}
span{
    font-size: 40px;
}

#resultado {
    background-color: var(--verc);
    min-height: 100px;
    border: 1px solid var(--verc);
    border-radius: 5px;
    display: none;
    justify-content: center;
    align-items: center;
    padding: 20px;
    color: var(--vero);
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

/*------------------------------- Cosas13 ----------------------------------------*/
.c13 {
    max-width: 100%;
    padding: 5%;
    background-color: var(--verc);
    border-radius: 15px;
    box-shadow: 0 8px 16px var(--verot);
    transition: all 0.3s ease;
    font-family: 'mi-fuente';
    font-size: 1.2em ;
    margin: 2.5% ;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.c13:hover {
    /* transform: translateY(-5px);*/
    box-shadow: 0 12px 24px var(--verct);
}

.option {
    font-size: 64px;
    /* Tamaño más grande para las cajas */
    cursor: pointer;
    display: inline-block;
    margin: 10px;
    color: var(--amac);
    text-decoration: none;
    /* Color rosa para mayor atractivo */
    transition: transform 0.2s ease;
}

.message {
    display: none;
    font-size: 18px;
    color: var(--vero);
    margin-top: 20px;
    padding: 15px;
    background-color: var(--verc);
    border-radius: 10px;
    box-shadow: 0 4px 8px var(--verot);
}

.message:target {
    display: block;
    animation: fadeIn 0.5s ease-in-out;
}

a.button {
    background-color: var(--vero);
    /* Color azul para el botón */
    color: var(--verc);
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    margin: 20px 5px 0;
    box-shadow: 0 2px 4px var(--verct);
    transition: background-color 0.3s ease, box-shadow 0.2s ease;
}

a.button:hover {
    background-color: var(--vero);
    /* Un azul ligeramente más oscuro */
    box-shadow: 0 4px 8px var(--verct);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

h3 {
    color: var(--vero);
    font-size: 1.5em;
}

.velada-sorpresa {
    display: none;
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: var(--verct);
    /* Un color rosa suave */
    border: 2px solid var(--verot);
    /* Un borde rosa más fuerte */
    border-radius: 15px;
    /* Bordes redondeados para suavidad */
    box-shadow: 0 4px 8px var(--verot);
    /* Sombra para profundidad */
    text-align: center;
    /* Alineación del texto */
    color: var(--vero);
    /* Color de texto */
    transition: transform 0.3s ease;
    /* Animación suave */
}

.velada-sorpresa:target {
    display: block;
    animation: fadeIn 0.5s ease-in-out;
}

.velada-sorpresa:hover {
    transform: translateY(-5px);
    /* Efecto flotante al pasar el mouse */
    box-shadow: 0 12px 24px var(--verot);
    /* Sombra más profunda */
}

.velada-sorpresa h4 {
    color: var(--vero);
    /* Color del título */
    margin-bottom: 15px;
    /* Espaciado del título */
    font-size: 1.2em;
}

.velada-sorpresa p {
    font-size: 16px;
    /* Tamaño del texto */
    line-height: 1.5;
    /* Espaciado de línea */
    font-size: 0.8em;
    text-align: center;
}

.velada-sorpresa .button {
    display: inline-block;
    /* Hacer que el botón sea en línea */
    background-color: var(--vero);
    /* Fondo del botón */
    color: var(--verc);
    /* Texto del botón */
    padding: 10px 20px;
    /* Relleno del botón */
    text-decoration: none;
    /* Sin subrayado */
    border-radius: 5px;
    /* Bordes redondeados del botón */
    margin-top: 20px;
    /* Espaciado arriba del botón */
    transition: background-color 0.3s ease;
    /* Animación del fondo */
}

/*--------------------------------- Queries ----------------------------------------*/

@media only screen and (min-width:601px){
    main{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    body {
        background-image: url(recursos/imagenes/PapelEnvejecido.jpg);
        background-position: center;
        display: flex;
        align-items: center;
    }
    
    header{
        width: 95%;
        background-color: var(--verc);
        display: flex;
        border-radius: 40px;
        justify-content: space-around;
        text-align: center;
        align-items: center;
        color: var(--vero);
        margin-bottom: 2.5%;
    } 
    .rec{
        width: 50%;
    }
    header>.rec>h1>br{
        display: none;
    }
    .tam{
        width: 50%;
        display: flex;
        justify-content: center;
    }
    header>.tam>img{
        width: 25%;

    }
    main{
        width: 100%;
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto auto auto;
        gap: 1% 5%;
    }
    .a1{
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;
        width: 100%;
    }
    .a2{
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 4;
        grid-row-end: 5;
        width: 100%;
    }
    .a3{
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3;
        width: 100%;
    }
    .a4{
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 3;
        grid-row-end: 4;
        width: 100%;
    }
   .a1,.a3,.a4{
        border: solid var(--vero);
        border-radius: 40px;
        background-color: var(--verc);
        display: flex;
        flex-direction: row;
        margin-bottom: 0%;
        box-shadow: 0 8px 16px rgba(2, 20, 0, 0.1);
    }
    .a2{
        display: grid;
        grid-column: span 3;
        grid-row: span 4;
        grid-template-columns: subgrid;
        grid-template-rows: subgrid;
        gap: 1% 1%;
    }
    .a2> .img {
        width: 100%;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .a2> .texto {
        width: 100%;
        display: flex;
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 4;
    }
    .lista{
        width: 90%;
    }
    .a2> .disfraz {
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 4;
        grid-row-end: 5;
    }
    .a2> .c13 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 5;
    }
    .c13>a>img{
        width: 100%;
    }
    .img{
        width: 50%;
        display: flex;
        align-items: center;
    }
    .img>img{
        width: 100%;
    }
    .texto{
        width: 50%;
    }
    
    .boton{
        width: 35%;
        padding: 5%;
        background-color: var(--vero);
        text-align: center;
    }
    footer{
        width: 100%;
        margin-top: 12.5%;
        background-color: var(--verc);
        display: flex;
        justify-content: space-around;
        text-align: center;
        color: var(--vero);
    }
}
